* {
    box-sizing: border-box;
    font: 1em sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}

/* NAVBAR */
header{
    background-color: black;
}
li{
    list-style: none;
    height: 40px;
    width: 120px;
    text-align: center;
    border-radius: 30px;
    transition: 0.5s ease;
}
a{
    display: block;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    line-height: 40px;
}
nav{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.1s ease-out;
   background-color: white;
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar{
        position: fixed;
        left: 100%;
        top: 30px;
        gap:0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .menu-item{
        margin: 16px 0px;
    }
    .navbar.active{
        left:0px;
    }
    .about{
        z-index: -1;
    }
    .project-container{
        z-index: -1;
    }
}

.menu-item:hover{
    background-color: #3b3b3b;
}

/* index BODY */
p{
    text-indent: 45px;
    font-size: 17px;
}
.about{
    position: absolute;
    left: 20vw;
    width: 60vw;
    word-wrap: break-word;
}
@media(min-width: 768px){
    p{
        font-size: 20px ;
    }
    .picture {
        /* change size */
    }
}

/* projects BODY */
h1{
    font-size: 35px;
    text-align: center;
}
.project-container{
    width: 60vw;
    position: absolute;
    left: 17.5vw;
}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
}
.project p{
    text-indent: 0px;
    font-size: small;
}
.project {
    
    flex: 1;
    text-align: center;
    word-wrap: break-word;
    background-color: black;
    border-radius: 40px;
    padding-bottom: 5px;
}
.project:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3);
}

.pic{
    width: 15vw;
    height: 15vh;
    min-height: 200px;
    fill: white;
}
.project-link{
    display: inline-block;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 17.5vw;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.project-link:hover{
    background-color: #bababa;
}

@media (max-width:768px){
    .project{
        flex-basis: auto;
    }
    .project-link{
        width: 50vw;
    }
}

/* FOOTER */
footer{
    background-color: white;  
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 110px;
}
hr{
    width: 90%;
    position: static;
    top: 0px;
    left: 0px;
    border-top: 2px solid black;
}
footer div{
    text-align: center;
}
footer div li{
    display: inline-block;
    position: relative;
    top: 6px;  
    text-align: center;
    height: 30px;
    width: 30px;
}
.icon{
    height: 30px;
    width: 30px;
    fill: black !important;
    transition: transform 30ms ease-in-out;
    vertical-align: middle;
}
.icon:hover{
    fill: #3b3b3b !important;
    height: 27px;
    width: 27px;
}
.copyright{
    z-index: -1;
    width: 100vw;
    position: absolute;
    bottom: -15px;
    text-align: center;
    vertical-align: bottom;
}
