* {
    box-sizing: border-box;
    font: 1em sans-serif;
}
html, body{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
.navbar{
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 50px;
    min-height: 40px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 85%;
    padding-left: 2px;
}
.navbar #group{
    text-align: center;
}
.menu-item{
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    width: auto;
    padding: 0px 10px;
}
.menu-item:hover{
    background-color: #3b3b3b;
}
footer{
    background-color: white;  
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 110px;
}
hr{
    position: static;
    top: 0px;
    left: 0px;
    border-top: 2px solid black;
}
footer div{
    text-align: center;
}
footer div li{
    display: inline-block;
    position: relative;
    top: 6px;  
    text-align: center;
    height: 30px;
    width: 30px;
}
.icon{
    height: 30px;
    width: 30px;
    fill: black !important;
    transition: transform 30ms ease-in-out;
    vertical-align: middle;
}
.icon:hover{
    fill: #3b3b3b !important;
    height: 27px;
    width: 27px;
}
.copyright{
    z-index: -1;
    width: 100vw;
    position: absolute;
    bottom: -15px;
    text-align: center;
    vertical-align: bottom;
    
}
