* {
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    padding: 0px;
}
body{
    font: 1em sans-serif;
    background-color: white;
}
.navbar{
    margin: 0px;
    padding: 0px;
    background-color: black;
    height: 5vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 85%;
    padding-left: 2px;
}
.menu-item{
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh; 
    width: auto;
    padding: 0px 10px
}
.menu-item:hover{
    background-color: #3b3b3b;
}
footer{
    display: flex;
    background-color: white;  
    position: fixed;
    bottom: 0px;
    width: 100vw;
    min-height: 75px;
}

hr{
    position: relative;
    top: 0px;
    left: 0px;
}
.footer-items ul{
    vertical-align: middle;
    justify-content: center;
    /* width: 100vw; */
}
.footer-items ul li{
    display: inline-block;
    justify-content: center;
}
